#bod{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
}

p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0.8rem;
    margin-bottom: 0.4rem;
}

h3{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0.8rem;
    margin-bottom: 0.7rem;
}

.card{
        display: flex;
  flex: 1 1 calc(25% - 20px); /* 4 per row */
  max-width: calc(25% - 20px);
        border-radius: 12px;
        box-shadow: 0 4px 9px rgba(0,0,0,0.6);
        justify-content: space-between;
        height : 30rem;
        width: 25%;
        background-color: blueviolet;
      
}

.div1{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
    background: #f5f5f5;
}

.div2{
    
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
}

img{
   
    max-height: 100%;
    max-width: 100%;
}

.add-to-cart{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.price{
    font-weight: 500;
}