#bod{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 4rem;
}

p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0.8rem;
    margin-bottom: 0.4rem;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0.8rem;
    margin-bottom: 0.7rem;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    height: 25rem;
    overflow: hidden;
    
    padding-bottom: 1rem;
}
.card:hover{
    box-shadow: 0 0 9px rgba(0,0,0,0.7);
}

.div1{
    width: 100%;
    height: 60%;
    margin-bottom: 2.5rem;
    
}

.div2{
   
   width: 100%;
}

.prodImage{
    margin: 0 auto;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.add-to-cart{
   width: 90%;
   cursor: pointer;
   padding: 0.5rem 0;
   margin-left: 1rem;
   border-radius: 12px;
}

.add-to-cart:hover{
    background-color: rgb(26, 181, 49);
    opacity: 0.9;
    color: white;
}

.add-to-cart:active{
    opacity: 0.6;
}

.price{
    color: green;
}

.cartItems{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 55%;
    background-color: blue;
    background: rgba(255, 255, 255, 0.3); /* semi-transparent */
    backdrop-filter: blur(10px);    
    padding-top: 1rem;
    padding-right: 1rem;
    display: none;
}

#openCart{
    position: fixed;
    padding: 1rem 1rem;
}

#close{
    border-radius: 50px;
    
}

button{
    cursor: pointer;
}

#cartimage{
    border-radius: 50px;
}

.item{
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 9px rgba(0,0,0,0.7);
    height: 3rem;
    width: 90%;
}

#itemList{
    display: flex;
    flex-direction: column;
    width:  100%;
    height: 70%;
    overflow:auto;
    padding-left: 1.5rem;
    
}

#Checkout{
    position: relative;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    padding-top: 0rem;
    height: 7rem;
    background-color: whitesmoke;
   
    align-items: center;
}


#Checkout button{
   width: 15rem;
   height: 4rem;
   cursor: pointer;
   padding: 0.5rem 0;
   margin-left: 1rem;
   border-radius: 12px;
}

#Checkout button:hover{
   background-color: rgb(26, 181, 49);
    opacity: 0.9;
    color: white;
}

#Checkout p{
    font-weight: 600;
    font-size: 25px;
}

.cartElement{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    height: 4rem;
    align-items: center;
    margin-top: 0rem;
    font-size: 25px;
    box-shadow: 0 0 9px rgba(0,0,0,0.7);
    contain: content;
    outline: 1px black solid;
    
}

#topCartDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 
#cartQuantity{
        color: red;
        font-size: 2rem;
}

.cartElement p {
    padding-top: 1rem;

}

.cartElement img{
  
    width: 4rem;
    
}